In [2]:
#! /usr/bin/python3
import re
import os
import csv
import dendropy
from dendropy.calculate import treecompare
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# input the path to the gon_phyling folder you wish to analyze
replicate_dir = ""

# path to "TRUE" tree file
true_tree_file = ""

In [3]:
# path to directory of phycorder output csv files from basecall_comparison
phycorder_csv_dir = "/home/vortacs/git-repos/phylo_comparison/pipeline_dev_50_taxa/hundred_loci_basecall_csv_output/final_phycord_blast_output"

# path to directory of opposing method csv files from basecall_comparison
alt_method_csv_dir = "/home/vortacs/git-repos/phylo_comparison/pipeline_dev_50_taxa/hundred_loci_basecall_csv_output/final_gon_phy_blast_output"

In [4]:
phycord_csv_list = os.listdir(phycorder_csv_dir)

phy_master_df = pd.DataFrame(columns=("evalue", "q._start", "q._end", "s._start", "s._end", "alignment_length", "percent_identity", "identical_bases", "mismatches", "gap_opens", "gaps", "subject id", "query id"))

file_count = 0
for csv_file in phycord_csv_list:
    file_count+=1
    #open_file = open(phycorder_csv_dir + '/' + csv_file)
    #read_file = open_file.read()
    #print(read_file)
    
    df = pd.read_csv(phycorder_csv_dir + '/' + csv_file, comment='#', sep='\t', names=["evalue", "q._start", "q._end", "s._start", "s._end", "alignment_length", "percent_identity", "identical_bases", "mismatches", "gap_opens", "gaps" , "subject id", "query id"])
    #print(df[0:1])
    #top_hit = df[0:1]
    #master_df.append(top_hit)
    #master_df.loc[df.index[0]] = df.iloc[0]
    phy_master_df.loc[file_count] = df.iloc[0]
    
    
phy_master_df.head()
#phy_master_df.shape
#phy_master_df.dtypes

,evalue,q._start,q._end,s._start,s._end,alignment_length,percent_identity,identical_bases,mismatches,gap_opens,gaps,subject id,query id
1,0.0,1,8091,8122,32,8091,100.000,8091,0,0,0,NODE_61_length_8131_cov_107.323551_taxon_101_R1,taxon_101
2,0.0,2,16650,16694,46,16649,100.000,16649,0,0,0,NODE_44_length_16702_cov_80.900402_taxon_103_R1,taxon_103
3,0.0,1,25057,25118,62,25057,99.996,25056,1,0,0,NODE_28_length_25207_cov_95.326336_taxon_110_R1,taxon_110
4,0.0,1,23729,4,23732,23729,100.000,23729,0,0,0,NODE_31_length_23738_cov_100.657687_taxon_116_R1,taxon_116
5,0.0,26,2174,2177,29,2149,100.000,2149,0,0,0,NODE_88_length_2177_cov_102.859095_taxon_111_R1,taxon_111

In [5]:
gon_phy_csv_list = os.listdir(alt_method_csv_dir)

gon_master_df = pd.DataFrame(columns=("evalue", "q._start", "q._end", "s._start", "s._end", "alignment_length", "percent_identity", "identical_bases", "mismatches", "gap_opens", "gaps", "subject id", "query id"))

file_count = 0
for csv_file in gon_phy_csv_list:
    file_count+=1
    #open_file = open(phycorder_csv_dir + '/' + csv_file)
    #read_file = open_file.read()
    #print(read_file)
    
    df = pd.read_csv(alt_method_csv_dir + '/' + csv_file, comment='#', sep='\t', names=["evalue", "q._start", "q._end", "s._start", "s._end", "alignment_length", "percent_identity", "identical_bases", "mismatches", "gap_opens", "gaps", "subject id", "query id"])
    #print(df[0:1])
    #top_hit = df[0:1]
    #master_df.append(top_hit)
    #master_df.loc[df.index[0]] = df.iloc[0]
    gon_master_df.loc[file_count] = df.iloc[0]
    
    
gon_master_df.head()
#gon_master_df.shape
#gon_master_df.dtypes

,evalue,q._start,q._end,s._start,s._end,alignment_length,percent_identity,identical_bases,mismatches,gap_opens,gaps,subject id,query id
1,0.0,1,14489,36666,51154,14489,100.000,14489,0,0,0,NODE_9_length_51191_cov_125.901166_taxon_118_R1,taxon_118_R1.fq.fasta
2,0.0,1,3278,3342,65,3278,99.969,3277,1,0,0,NODE_78_length_3382_cov_303.439435_taxon_115_R1,taxon_115_R1.fq.fasta
3,0.0,1,6234,31,6264,6234,100.000,6234,0,0,0,NODE_55_length_10622_cov_108.317876_taxon_101_R1,taxon_101_R1.fq.fasta
4,0.0,1,2455,122620,120166,2455,100.000,2455,0,0,0,NODE_1_length_127570_cov_116.663302_taxon_106_R1,taxon_106_R1.fq.fasta
5,0.0,1,10135,537,10671,10135,100.000,10135,0,0,0,NODE_39_length_20319_cov_119.230261_taxon_108_R1,taxon_108_R1.fq.fasta

In [6]:
# entries where blast >>>>>>>>>>>didnt<<<<<<<<<<<<<< find a 100% query sequence match
hundred = ['100.000']
#df[~df.countries.isin(countries)]
phycord_mismatchedf = phy_master_df[~phy_master_df.percent_identity.isin(hundred)]
phycord_mismatchedf

,evalue,q._start,q._end,s._start,s._end,alignment_length,percent_identity,identical_bases,mismatches,gap_opens,gaps,subject id,query id
3,0.0,1,25057,25118,62,25057,99.996,25056,1,0,0,NODE_28_length_25207_cov_95.326336_taxon_110_R1,taxon_110
7,0.0,1,40193,60671,100863,40194,99.975,40184,8,2,2,NODE_1_length_127570_cov_116.663302_taxon_101_R1,taxon_101
11,0.0,13461,80916,67482,26,67458,99.994,67454,1,3,3,NODE_3_length_67553_cov_100.476933_taxon_109_R1,taxon_109
18,0.0,1,19801,20313,513,19801,99.985,19798,3,0,0,NODE_39_length_20319_cov_119.230261_taxon_104_R1,taxon_104
26,0.0,547,49166,461,49080,48620,99.926,48584,36,0,0,NODE_10_length_49226_cov_110.688841_taxon_109_R1,taxon_109
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,0.0,1,36396,36399,4,36396,99.997,36395,1,0,0,NODE_23_length_36410_cov_85.987540_taxon_117_R1,taxon_117
1203,0.0,1,40193,60671,100863,40194,99.990,40190,2,2,2,NODE_1_length_127570_cov_116.663302_taxon_108_R1,taxon_108
1209,0.0,1,1838,47,1884,1838,99.946,1837,1,0,0,NODE_89_length_1939_cov_195.070064_taxon_107_R1,taxon_107
1215,0.0,1,22787,22845,60,22787,99.987,22784,2,1,1,NODE_33_length_22875_cov_96.853769_taxon_110_R1,taxon_110
1217,0.0,1,40193,60671,100863,40193,99.995,40191,2,0,0,NODE_1_length_127570_cov_116.663302_taxon_10_R1,taxon_10

In [7]:
hundred = ['100.000']
#df[~df.countries.isin(countries)]
gon_phy_mismatchedf = gon_master_df[~gon_master_df.percent_identity.isin(hundred)]
gon_phy_mismatchedf

,evalue,q._start,q._end,s._start,s._end,alignment_length,percent_identity,identical_bases,mismatches,gap_opens,gaps,subject id,query id
2,0.0,1,3278,3342,65,3278,99.969,3277,1,0,0,NODE_78_length_3382_cov_303.439435_taxon_115_R1,taxon_115_R1.fq.fasta
13,0.0,1,9135,32112,22978,9135,99.989,9134,1,0,0,NODE_12_length_47408_cov_88.506853_taxon_104_R1,taxon_104_R1.fq.fasta
27,0.0,1,5363,5491,129,5363,99.981,5362,1,0,0,NODE_70_length_5550_cov_105.441674_taxon_109_R1,taxon_109_R1.fq.fasta
51,0.0,1,21040,40664,19625,21040,99.995,21039,1,0,0,NODE_18_length_40828_cov_97.357295_taxon_101_R1,taxon_101_R1.fq.fasta
55,0.0,1,1787,1888,102,1787,99.608,1780,7,0,0,NODE_89_length_1939_cov_195.070064_taxon_111_R1,taxon_111_R1.fq.fasta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1728,0.0,1,24747,18,24764,24747,99.992,24745,2,0,0,NODE_30_length_24905_cov_97.770865_taxon_102_R1,taxon_102_R1.fq.fasta.ref
1740,0.0,1,10975,63,11037,10975,99.973,10972,3,0,0,NODE_54_length_11092_cov_102.358612_taxon_115_R1,taxon_115_R1.fq.fasta
1768,0.0,1,20478,100863,80386,20479,99.951,20469,8,2,2,NODE_1_length_127570_cov_116.663302_taxon_112_R1,taxon_112_R1.fq.fasta
1775,0.0,1,11239,29881,41119,11239,99.991,11238,1,0,0,NODE_6_length_63925_cov_102.151605_taxon_107_R1,taxon_107_R1.fq.fasta
1780,0.0,1,57145,67410,10266,57145,99.998,57144,1,0,0,NODE_3_length_67553_cov_100.476933_taxon_110_R1,taxon_110_R1.fq.fasta

In [8]:
phycord_len_sum = phy_master_df['alignment_length'].sum()
print(phycord_len_sum)

gon_phy_len_sum = gon_master_df['alignment_length'].sum()
print(gon_phy_len_sum)

24855625
25234570

In [9]:
phycord_mismatch_sum = phycord_mismatchedf['mismatches'].sum()
gon_phy_mismatch_sum = gon_phy_mismatchedf['mismatches'].sum()
print(phycord_mismatch_sum)
print(gon_phy_mismatch_sum)

1136
200

In [10]:
phy_per_base_error = phycord_mismatch_sum / phycord_len_sum
gon_per_base_error = gon_phy_mismatch_sum / gon_phy_len_sum
print(phy_per_base_error)
print(gon_per_base_error)

4.5703940254972466e-05
7.92563534865068e-06